{% extends "_templates/home_base.twig" %}
{% block javascripts %}
    <script src="{{ constant('URL') }}public/js/jquery/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <script>
        $(function () {
            $("#submit").on('click', function () {
                $.post("{{ constant('URL') }}users/passwordRecoveryMail/",
                        {email: $("#email").val() },
                        function (data, status) {
                            if (status == "success" && data == "1") {
                                $("#content").html('<h3>Hệ thống đã gởi email khôi phục mật khẩu vào: <b><span style="color: #0000ff"> '
                                        + $("#email").val() + '</span></b>, vui lòng mở mail và làm theo hướng dẫn</h3>'
                                        + ' Nhấn <a href = "{{ constant('URL') }}">vào đây</a> để về trang chủ</h3>')
                            }
                            else {
                                $("#content").html('<h3>Email: '
                                        + $("#email").val() + ' chưa được đăng ký.</h3>'
                                        + '. Nhấn <a href = "{{ constant('URL') }}users/register/">vào đây</a> để đăng ký</h3>');

                            }
                        }, "text");
            });
            $("#reset").on('click', function () {
                $("#password").prop("value", '');
                $("#repassword").prop("value", '');
            });
            $("#submit2").on('click', function () {
                if (checkPasswordSame($("#password").val(), $("#repassword").val())) {
                    $.post("{{ constant('URL') }}users/updatePassword/",
                            {
                                email: $("#userEmail").val(),
                                newPassword: $('#password').val()
                            },
                            function (data, status) {
                                if (status == "success" && data == "1") {
                                    $("#content").html('<h3>Cập nhật mật khẩu thành công<b>' + '. Nhấn <a href = "../../">vào đây</a> để về trang chủ</h3>');
                                }

                                else {
                                    $("#content").html('<h3>Đăng ký không thành công, đường dẫn kích hoạt đã được sử dụng hoặc quá hạn</h3>'
                                            + '. Nhấn <a href = "{{ constant('URL') }}users/passwordRecovery/">vào đây</a> để thử lại</h3>');
                                }
                            }
                    )
                }
            })
        })
        function checkPassword(pass) {
            if (pass == '') {
                $('#pwStatus').innerHTML = '';
            } else {
                if (pass.length < 6) {
                    $('#pwStatus').innerHTML = "<p style='color: #ff0000'><b>" + "Mật khẩu phải lớn hơn 6 kí tự" + "</b></p>";
                }
                else {
                    $('#pwStatus').innerHTML = "<p style='color: green'><b>" + "OK" + "</b></p>";
                }
            }
        }

        function checkPasswordSame(pass, passCopy) {
            if (pass == '' || passCopy == '') {
                document.getElementById('pwStatus2').innerHTML = '';
                return false;
            } else {
                if (pass == passCopy) {
                    document.getElementById('pwStatus2').innerHTML = "<p style='color: green'><b>" + "Mật khẩu trùng khớp" + "</b></p>";
                    return true;
                }
                else {
                    document.getElementById('pwStatus2').innerHTML = "<p style='color: #ff0000'><b>" + "Mật khẩu chưa trùng khớp" + "</b></p>";
                    return false;
                }
            }

        }
    </script>
    <div class="grid" style="margin-top: 40px">
        <div class="example">
            <div id="content">
                {% if UI == 1 %}
                    <label>Nhập mật khẩu mới: </label>
                    <div class="input-control text" data-role="input-control">
                        <input type="password" name="password" id="password" autofocus="true"
                               onkeyup="checkPassword(this.value)" required><br>
                        <span id="pwStatus"></span>
                        <input type="hidden" id="userEmail" value="{{ email }}">
                    </div>
                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <label>Nhập lại mật khẩu: </label>

                        <div class="input-control text" data-role="input-control">
                            <input type="password" name="repassword" id="repassword" required><br>
                            <span id="pwStatus2"></span><br><br>
                        </div>
                    </div>
                    <button class="button primary large" id="submit2">Khôi phục mật khẩu</button>
                    <button class="button large" id="reset">Xóa</button>
                {% endif %}
                {% if UI == 0 %}
                    <label>Nhập email đăng ký: </label>
                    <div class="input-control text" data-role="input-control">
                        <input type="email" name="email" id="email" autofocus="true" required><br><br>
                        <button class="button primary large" id="submit">Khôi phục mật khẩu</button>
                    </div>
                {% endif %}
                {% if UI == 2 %}
                    <h3>Đường dẫn kích hoạt không đúng hoặc đã hết hạn sử dụng, vui lòng kiểm tra lại</h3></br>
                    <h2>Nhấn <a href="{{ constant('URL') }}">vào đây</a> để về trang chủ</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}